* {
    box-sizing: border-box;
}

body {
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  margin: 10px 0 10px 0;
}

a {
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main-container {

}

/* Header */

header {

  background: #F74343;
  color: #fff;
  overflow: hidden;
  height: 50px;

  h1 {
    float: left;
    text-indent: -999px;
    background: url("../images/trainer-logo.svg") no-repeat 0 0;
    width: 113px;
    height: 23px;
    margin: 12px 0 0 14px;
  }

  ul {
    float: right;
    margin: 17px 20px 0 0;
  }

  li {
    display: inline-block;
    text-decoration: none;
  }

  a {
    color: #fff;
  }

}




.list li {
  padding: 10px;
  margin: 10px 0 10px 0;
  background: #f2f2f2;
  width: 300px;
  height: auto;
  overflow: hidden;
}

.date {
  font-size: 14px;
  color: #d4d4d4 !important;
  float: right;
}

.trainer {
  font-size: 14px;
  color: #777;
  float: right;
}

/* Footer */

footer {
  padding: 20px 0 20px 0;
  width: 1000px;
  max-width: 90%; /*900px*/;
  margin: 20px auto;
}

footer p {
  font-size: 14px;
  color: #d3d3d3;
}

/* Login */

.notification {
  display: none;
}

#signup, #login {
  padding: 20px;
  margin: 20px 0 20px 0;
  background: #f3f3f3;
}

input[type="text"], input[type="password"] {
  margin: 10px;
  display: inline-block;
}

input[type="submit"] {
  display: inline-block;
}

.logout {
  display: inline-block;
  margin: 20px 0 20px 10px;
  color: #3e3e3e;
}

/* Workouts */
.workout {
  padding: 10px;
  background: #f8f8f8;
  overflow: hidden;
}

.workout h3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}

.workout p {
  color: #3e3e3e;
}
